* {
  box-sizing: border-box;
}

.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  min-height: 100vh;
  text-align: center;
}
